---
import { Icon } from "astro-icon/components";
import VisitorCounter from "~/components/visitor-counter.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://t.me/dork382/",
    description: "Telegram",
    icon: "fa-brands:telegram-plane",
  },
  {
    url: "https://github.com/donatomolino",
    description: "Github",
    icon: "fa-brands:github",
  },
  {
    url: "https://astro.build/chat",
    description: "Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://x.com/donatomolinox",
    description: "X Twitter",
    icon: "social/twitterx",
  },
  {
    url: "https://steamcommunity.com/id/dork382",
    description: "Steam",
    icon: "fa-brands:steam",
  },
  {
    url: "https://www.instagram.com/donatomolino/",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer
  class="relative w-full border-t-2 border-black bg-slate-950/5 px-4 py-5 text-gray-500"
  id="footer"
>
  <div class="relative z-10 mx-auto flex max-w-6xl flex-wrap items-center justify-between gap-4 text-xs text-gray-500">
    <div class="flex items-center gap-2">
      <span class="font-medium text-gray-500">Made with 🍕</span>
      <VisitorCounter />
    </div>

    <ul class="flex flex-wrap items-center justify-center gap-2 text-gray-500">
      {
        links.map((link) => (
          <li>
            <a
              class="flex h-9 w-9 items-center justify-center rounded-full text-current transition hover:text-secondary"
              href={link.url}
            >
              <span class="sr-only">{link.description}</span>
              <Icon class="size-full" name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>

    <span class="whitespace-nowrap text-xs text-gray-500">100% Lighthouse Score 🎉</span>
  </div>
</footer>
