---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    I use code as a tool to turn ideas into real products,
    solve meaningful problems, and deliver value through
    open collaboration.
  </Fragment>
  <p class="max-w-3xl text-center text-lg text-gray-500">
    From aerospace R&amp;D prototypes to multi-tenant e-commerce platforms, I
    enjoy taking features from whiteboard to production with a strong focus on
    performance, DX, and maintainable architecture.
  </p>
</ContentSection>
