.ponte{
    position: absolute;
    top: -13%;
    left: 0%;
    max-width: 1920px;
    
}

body{
    background-color: #1dcde5;
    overflow: hidden;
    
}

.dot {
    height: 65px;
    width: 65px;
    
    border-radius: 50%;
    display: inline-block;
  }

.sem{
    
    width: 150px;
}